<style>
	#dashboard {
		background-color: #ddd;
		border-radius: 10px;
		float: left;
	}

	.tab-content {
		margin-left: 20px;
		padding-top: 10px;
		width: 800px;
		height: 500px;
		overflow: auto;
	}
</style>

<h1>Dashboard</h1>

<div style="float:left">
	<ul class="nav nav-pills nav-stacked">
		<li class="active"><a data-toggle="tab" href="#buyer">Buyer</a></li>
		<li><a data-toggle="tab" href="#vendor">Vendor</a></li>
	</ul>
</div>

<div id="dashboard" class="tab-content">
	<div class="tab-pane active" id="buyer">
		<div class="container">
			<p>You have signed up for </p>
		</div>
	</div>

	<div class="tab-pane" id="vendor">
		<div class="container">
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
			<p>You are offering</p>
		</div>
	</div>
</div>