<style>
	#dashboard {
		float: left;
		margin-left: 20px;
		/*padding-top: 10px;*/
	}

	.tab-content {
	}

	#roles {
		border-radius: 10px;
		background-color: #ddd;
		width: 800px;
		height: 400px;
		overflow: auto;
		padding-top: 10px;
	}

	#create-service {
		padding-top: 30px;
		background-color: #fff;
	}
</style>

<h1>Dashboard</h1>

<div style="float:left">
	<ul class="nav nav-pills nav-stacked">
		<li class="active"><a data-toggle="tab" href="#buyer">Buyer</a></li>
		<li><a data-toggle="tab" href="#vendor">Vendor</a></li>
	</ul>
</div>

<div id="dashboard">
	<div id="roles" class="tab-content">
		<div class="tab-pane active" id="buyer">
			<div class="container">
				<p>You have signed up for </p>
			</div>
		</div>

		<div class="tab-pane" id="vendor">
			<div class="container">
				<p>You are offering</p>
			</div>
		</div>
	</div>

	<!-- Create service button -->
	<div id="create-service">
		<form action="/services" method="post">
			<input type="hidden" name="userid" value="<%= current_user.id %>">
			<button type="submit" class="btn btn-danger">Create a service</button>
		</form>
	</div>
</div>