<h1>Profile Page</h1>

<table class="table table-bordered table-striped">
	<tr><td>Username</td><td><%= @user.username %></td></tr>
	<tr><td>Real Name</td><td><%= @user.realName %></td></tr>
	<tr><td>Date of Birth</td><td><%= @user.dateOfBirth %></td></tr>
	<tr><td>Rating</td><td><%= @user.rating %></td></tr>
</table>

<!-- Send message button -->
<button class="btn btn-success">Send a message</button>