<% if flash[:signin_error] %>
	<div id="error_explanation">
		<div class="alert alert-error">
		    <%= flash[:signin_error] %>
	    </div>
    </div>
<% end %>

<h1>Log in</h1>

<p><%= link_to "Home", "/" %></p>

<form class="form-signin" action="/sessions" method="post">
	<div class="col-md-4">
		<input class="form-control" type="text" name="session[username]" placeholder="Username" maxlength="30" required autofocus><br>
		<input class="form-control" type="password" name="session[password]" placeholder="Password" required> <br>
	</div>
	<%= token_tag nil %>
	<button type="submit" class="btn btn-primary" style="margin:10px">Log in</button>
</form>