<% if flash[:signup_error] %>
	<% if !@user.nil? && @user.errors.any? %>
        <div id="error_explanation">
			<div class="alert alert-error">
				The form contains <%= pluralize(@user.errors.count, "error") %>.
			</div>
			<ul>
	            <% @user.errors.full_messages.each do |msg| %>
	            	<li><%= msg %></li>
	            <% end %>
	         </ul>
        </div>
      <% end %>
<% end %>

<h1>Sign up</h1>

<p><%= link_to "Home", "/" %></p>

<form class="form-signin" action="/users" method="post">
	<table>
		<tr>
			<td>Username</td>
			<td><input type="text" class="form-control" name="user[username]" placeholder="Username" autofocus></td>
		</tr>
		<tr>
			<td>Real Name</td>
			<td><input type="text" class="form-control" name="user[realName]" placeholder="Real Name" ></td>
		</tr>
		<tr>
			<td>Date of Birth</td>
			<td><input type="date" class="form-control" name="user[dateOfBirth]" ></td>
		</tr>
		<tr>
			<td>Email ID</td>
			<td><input type="text" class="form-control" name="user[emailID]" placeholder="Email ID" ></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" class="form-control" name="user[password]" placeholder="Password" ></td>
		</tr>
		<tr>
			<td>Latitude</td>
			<td><input type="number" step="any" class="form-control" name="user[latitude]" placeholder="Latitude" ></td>
		</tr>
		<tr>
			<td>Longitude</td>
			<td><input type="number" step="any" class="form-control" name="user[longitude]" placeholder="Longitude" ></td>
		</tr>
		<%= token_tag nil %>
	</table>
	<br>
	<button type="submit" class="btn btn-primary" style="margin:10px">Sign up!</button>
</form>