<style>
	/* Full background image */
	html {
		background: url('/nightcity.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
</style>

<h1>Service Bazaar</h1>

<p>Welcome to the Service Bazaar!</p>

<a href="/login" class="btn btn-primary">Log In</a>
<a href="/signup" class="btn btn-primary">Sign Up</a>